apiVersion: v1
kind: Service
metadata:
  name: health-check-service
  namespace: health-check-namespace
  labels:
    app: health-check
spec:
  selector:
    app: health-check
  type: NodePort
  ports:
    - name: http
      port: 80
      targetPort: 8080
      protocol: TCP
      nodePort: 30932   
